docs/n8n/call-transcription-branch-template.json
{
  "name": "Call Transcription — BRANCH_NAME",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "REPLACE_DRIVE_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "Call Recordings — BRANCH_NAME",
          "cachedResultUrl": ""
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fe08c72f-5e80-4dfb-9a80-d581e82272a6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "29dbc963-caaa-402a-80b3-d12da84d126d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "audio/mp4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"file\": {\"display_name\": \"{{ $json.name }}\"}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "id": "init-upload-001",
      "name": "Initialize Upload Session",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI_CREDENTIAL_ID",
          "name": "Gemini API KEY"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        672,
        0
      ],
      "id": "merge-001",
      "name": "Merge Upload URL + Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Initialize Upload Session').item.json.headers['x-goog-upload-url'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "Content-Type",
              "value": "audio/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "upload-file-001",
      "name": "Upload File to Gemini"
    },
    {
      "parameters": {
        "jsCode": "const fileUri = $input.first().json.file.uri;\nconst requestBody = {\n  contents: [{\n    parts: [\n      {\n        file_data: {\n          mime_type: \"audio/mp4\",\n          file_uri: fileUri\n        }\n      },\n      {\n        text: `# Role\n당신은 '인천 아이미래로(산후도우미·산모신생아 건강관리 업체)'의 통화 녹취록 전문 에디터입니다.\nSTT(음성 인식) 결과물의 오타를 수정하고, 화자를 명확히 구분하여 가독성 높은 상담 스크립트로 정제하는 것이 임무입니다.\n# Task\n제공된 오디오를 전사(transcription)하고, **가독성 높은 대화 대본**으로 재구성하십시오.\n# 1. Terminology Correction (용어 교정 사전)\n아래 오인식된 단어(좌측)가 보이면 반드시 올바른 단어(우측)로 수정하십시오.\n* **업체명 (가장 중요)**\n   - 아이미레로, 아이미레, 이미래로, 아미래로 → **아이미래로**\n* **산후조리 관련 용어**\n   - 산우도우미, 산우 → **산후도우미**\n   - 구리원, 조류원 → **조리원**\n   - 알루사님, 관리, 이모님 → **관리사님**\n   - 재앙절개, 재앙 → **제왕절개**\n   - 단퇴, 단태 → **단태아**\n   - A가, 가형 → **A가형**\n   - A라, 라형 → **A라형**\n   - 나비, 라비 → **납입** (결제 문맥)\n   - 쌍, 쌍둥 → **쌍둥이** (다태아)\n   - A 통합, A형 → **A-통합형**\n   - 바우처, 보건소 등록 → **바우처/정부 지원** 문맥 확인\n   - 본인 부담금, 자부담 → **본인 부담금**\n   - 목적이 홍철, 국적이 → **국적** (다문화 가정 문맥 시)\n   - 11월 → 문맥에 따라 **10일(기간)** 또는 **11월(날짜)** 구분\n# 2. Speaker Identification Rules (화자 분리 규칙)\n* **아이미래로**: \n   - \"네, 아이미래로입니다\", \"감사합니다, 아이미래로입니다\"라고 인사하는 사람\n   - 업체 입장에서 서비스를 안내하거나 문의에 답변하는 사람\n* **고객**: \n   - 아이미래로에 문의하거나 서비스를 신청하는 상대방\n   - 산모, 남편, 제휴업체 담당자 등 (확실하면 [산모], [남편] 표기)\n# 3. Refinement Guidelines (정제 가이드)\n- \"어...\", \"그...\", \"네네네\" 같은 추임새는 제거하거나 \"네.\"로 축약\n- 마침표(.), 물음표(?)를 정확히 사용\n- 날짜, 금액, 규격, 전화번호 등 숫자는 절대 변경 금지`\n      }\n    ]\n  }],\n  generationConfig: {\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"OBJECT\",\n      properties: {\n        summary: {\n          type: \"OBJECT\",\n          description: \"상담 요약 정보\",\n          properties: {\n            inquiry_type: {\n              type: \"STRING\",\n              description: \"문의 유형 (예: 산후도우미 예약, 결제 문의, 행사 규격 문의)\"\n            },\n            customer_info: {\n              type: \"STRING\",\n              description: \"고객 정보 (예: 1월 21일 출산 예정, 베이비페어 담당자)\"\n            },\n            key_content: {\n              type: \"STRING\",\n              description: \"상담의 핵심 내용 요약 (3~4줄)\"\n            },\n            result_action: {\n              type: \"STRING\",\n              description: \"결과/조치 (예: 예약 확정, 문자 발송 예정, 추후 연락)\"\n            }\n          },\n          required: [\"inquiry_type\", \"key_content\"]\n        },\n        transcript: {\n          type: \"ARRAY\",\n          description: \"정제된 대화 스크립트\",\n          items: {\n            type: \"OBJECT\",\n            properties: {\n              speaker: {\n                type: \"STRING\",\n                enum: [\"아이미래로\", \"고객\", \"산모\", \"남편\"],\n                description: \"화자 구분\"\n              },\n              text: {\n                type: \"STRING\",\n                description: \"교정된 발화 내용\"\n              }\n            },\n            required: [\"speaker\", \"text\"]\n          }\n        }\n      },\n      required: [\"summary\", \"transcript\"]\n    }\n  }\n};\nreturn [{\n  json: {\n    requestBody: JSON.stringify(requestBody)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ],
      "id": "c99dfe28-6d2a-47e5-b361-12665b54774a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        0
      ],
      "id": "transcribe-001",
      "name": "Gemini Transcribe Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI_CREDENTIAL_ID",
          "name": "Gemini API KEY"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pass1 = JSON.parse($json.candidates[0].content.parts[0].text);\nconst requestBody = {\n  contents: [{\n    parts: [{\n      text: `# Role\n당신은 산후도우미 업체 '아이미래로' 통화 스크립트의 최종 교정자입니다.\n아래 JSON(1차 전사 결과)의 transcript 발화들에서 남아있는 STT 오인식을 교정하여, 입력과 동일한 JSON 구조로 반환하십시오.\n# 교정 사전 (좌측 발견 시 우측으로 수정)\n산우도우미/산우→산후도우미, 구리원/조류원→조리원, 알루사님/이모님(호칭 문맥)→관리사님,\n재앙절개/재앙→제왕절개, 단퇴/단태→단태아, 쌍/쌍둥→쌍둥이,\nA가/가형→A가형, A라/라형→A라형, A 통합/A형→A-통합형, 나비/라비→납입(결제 문맥),\n아이미레로/아이미레/이미래로/아미래로→아이미래로\n# 규칙\n- 날짜·금액·기간·전화번호 숫자는 절대 변경 금지\n- speaker 값과 turn 개수·순서 유지\n- summary 필드들도 같은 사전으로 교정\n# 입력 JSON\n${JSON.stringify(pass1)}`\n    }]\n  }],\n  generationConfig: {\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"OBJECT\",\n      properties: {\n        summary: { type: \"OBJECT\", properties: {\n          inquiry_type: { type: \"STRING\" }, customer_info: { type: \"STRING\" },\n          key_content: { type: \"STRING\" }, result_action: { type: \"STRING\" } },\n          required: [\"inquiry_type\", \"key_content\"] },\n        transcript: { type: \"ARRAY\", items: { type: \"OBJECT\", properties: {\n          speaker: { type: \"STRING\", enum: [\"아이미래로\", \"고객\", \"산모\", \"남편\"] },\n          text: { type: \"STRING\" } }, required: [\"speaker\", \"text\"] } }\n      },\n      required: [\"summary\", \"transcript\"]\n    }\n  }\n};\nreturn [{ json: { requestBody: JSON.stringify(requestBody) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        0
      ],
      "id": "build-correction-001",
      "name": "Build Correction Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        0
      ],
      "id": "gemini-correct-001",
      "name": "Gemini Correct Transcript",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_GEMINI_CREDENTIAL_ID",
          "name": "Gemini API KEY"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const corrected = JSON.parse($json.candidates[0].content.parts[0].text);\nconst trigger = $('Google Drive Trigger').item.json;\nreturn [{ json: {\n  fileId: trigger.id,\n  fileName: trigger.name,\n  recordedAt: trigger.createdTime || undefined,\n  transcript: corrected.transcript,\n  summary: corrected.summary\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "build-webhook-payload-001",
      "name": "Build Webhook Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.babyjamjam.com/webhooks/call-transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_CALL_INGEST_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        0
      ],
      "id": "post-backend-001",
      "name": "Send to Backend",
      "retryOnFail": true,
      "waitBetweenTries": 10000
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Initialize Upload Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Upload URL + Binary",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Initialize Upload Session": {
      "main": [
        [
          {
            "node": "Merge Upload URL + Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Upload URL + Binary": {
      "main": [
        [
          {
            "node": "Upload File to Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to Gemini": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Gemini Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Transcribe Audio": {
      "main": [
        [
          {
            "node": "Build Correction Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Correction Request": {
      "main": [
        [
          {
            "node": "Gemini Correct Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Correct Transcript": {
      "main": [
        [
          {
            "node": "Build Webhook Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Webhook Payload": {
      "main": [
        [
          {
            "node": "Send to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": []
}
